<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta id="i18n_pagename" content="nav">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for("static",filename="style/bootstrap.css") }}">
     <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">
<title>{% block title %}Welcome to Healing Paws Veterinary Hospitia!{% endblock %}</title>
        {%  block other_css %}

        {% endblock %}
         <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <script src="{{ url_for('static', filename='script/vue.js') }}"></script>
        <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">
            <script src="{{ url_for('static', filename='script/language.js') }}"></script>
        <script src="{{ url_for('static', filename='script/jquery.i18n.properties.js') }}"></script>
{#            <script src="https://kit.fontawesome.com/235111a63f.js" crossorigin="anonymous"></script>#}
        <link href="{{ url_for('static', filename='style/nav.css') }}"rel="stylesheet">
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('auth.index') }}">Healing Pawl Hospital</a>
{##}
{#        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"#}
{#            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon">Icon</span>#}
{#        </button>#}
{#        <label class="ele hidden-lg navbar-toggler" for="toggle-checkbox"><span class="navbar-toggler-icon"></span></label>#}
{#        <input class="invisible navbar-toggler-icon" id="toggle-checkbox" type="checkbox">#}
     <label class="ele hidden-lg navbar-toggler" for="toggle-checkbox"><span class="navbar-toggler-icon"></span></label>
        <input class="invisible navbar-toggler-icon" style="position:fixed; top:0; left:0;" id="toggle-checkbox" type="checkbox">
    <div class="collapse navbar-collapse closer hidden-xs justify-content-end" id="navbarNavAltMarkupflask" >

            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('auth.signup') }}"  ><p name="signup" class="i18n"></p ></a>
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('auth.login') }}" ><p class="i18n" name="login"></p></a>
                                <img id="language" src="../static/images/China.png" alt="China" width="40" height="40" value="zh-CN">
            </div>
        </div>
{#        <label class="i18n" name="test"></label>#}
    </nav>


<!-- Main Container -->
<div class="container">
  <!-- Navigation -->
{#  <header> <a href="">#}
{#    <a style="text-decoration: none" href="{{ url_for("index") }}" class="logo">Healing Paws Veterinary Hospitia</a>#}
{#    </a>#}
{#      {% block nav %}#}
{#    <nav>#}
{#    <img id="language" src="../static/images/China.png" alt="China" width="40" value="zh-CN">#}
{#      <ul class="menu" style="width: auto">#}
{#          <li><a href="{{ url_for('signup') }}" name="signup" class="i18n"></a></li>#}
{#          <li><a href="{{ url_for('login') }}" name="login" class="i18n"></a></li>#}
{#          <li><img id="language" src="../static/images/China.png" alt="China" width="30" value="zh-CN"></li>#}
{#      </ul>#}
{##}
{#    <label class="i18n" name="test"></label>#}
{#    </nav>#}
{#      {% endblock %}#}
{#  </header>#}

<div class="content">
{% block content %}
  <section class="welcome" id="welcome">
  {% block welcome %}
	  <h2 class="header"> Welcome to <br><br> <span class="light">Healing Paws Veterinary Hospitia</span></h2>
	  <br>
	  <br>
	  <br>
    <p class="tagline">Please Login to make appoinments for your pets</p>
  {% endblock %}
  </section>

</div>

  <footer>
    <article class="footer_column">
      <h3>How to Take Care of Your Pet</h3>
         {% block content1 %}{% endblock %}
      <a href="{{ url_for('static', filename='article.html') }}"><img src="{{ url_for('static', filename='images/pet.jpg') }}" alt="" width="400" height="200" class="cards"/></a>
    </article>
    <article class="footer_column">
      <h3>Article 2</h3>
         {% block content2 %}{% endblock %}
		<a href="www.bilibili.com"><img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="" width="400" height="200" class="cards"/></a>
    </article>
  </footer>



    <section class="footer_banner" id="contact">
        <p class="header">If you have not registered, please register here</p>
        <div class="button" id="">register</div>
    </section>



{% endblock %}

        <div class="copyright">&copy;2020 - <strong>COMP3030J SEProject - Group 15</strong></div>

</div>

</body>
</html>
