{% extends "loggedin_base.html" %}


{%  block other_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/chatroom.css') }}">
{% endblock %}

{% block script %}
    <script>
        var input = $('.left .input input');
var msg = $('.left .msg');
var Chat = new chatController();

input.keypress(function(e) {
  if (e.which == 13) {
    Chat.processInput();
  }
});

var socket =io()

function chatController() {
  this.processInput =  function(){
    var txt = input.val();
    input.val('');
    socket.emit('new message',txt);
  };
}

socket.on('new message',function (data){
    console.log("get")
     var newMsg = msg.clone();
    newMsg.find(".name").text(data.user_name);
    newMsg.find(".text").text(data.message_back);
    msg.parent().append(newMsg);
})

socket.on('user count',function (data){
     $(".number").html(data.count);
})

    </script>
{% endblock %}

{% block content %}

<section>

<div class="cont">
  <div class="left">

    <div class="chat">
      <div class="wrap">
        <div class="msg"><span class="name">Staff</span> : <span class="text">Welcome To Veterinary</span></div>
      </div>
    </div>
    <div class="input">
      <input type="text" placeholder='type here' />
    </div>

  </div>
  <div class="right">
    <div class="title">Contacts</div>
    <ul class="users">
      <li class="user active">Current Online: <span class="number" style="color: #3affff">{{ num_doctors }} / {{ adminnumber }}</span></li>
       <ul class="users">
         {% for doctor in online_doctors %}
      <li class="user">Staff {{ doctor.username }}</li>
      {% endfor %}
    </ul>
    </ul>
  </div>
</div>
    </section>

<br>
<br>


{% endblock %}