<!DOCTYPE html>
<html lang="en" dir="ltr">

          <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <meta id="i18n_pagename" content="nav">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.css') }}">
    <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">
        <title>{% block title %}Welcome to Healing Paws Veterinary Hospitia!{% endblock %}</title>
      <link href="{{ url_for('static', filename='style/semantic.min.css') }}" rel="stylesheet">
        {%  block other_css %}

        {% endblock %}
         <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
        <script src="{{ url_for('static',filename='script/semantic.min.js') }}"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='script/vue.js') }}"></script>
        <script src="{{ url_for('static', filename='script/language.js') }}"></script>
        <script src="{{ url_for('static', filename='script/jquery.i18n.properties.js') }}"></script>
        <script src="https://kit.fontawesome.com/235111a63f.js" crossorigin="anonymous"></script>
{#        <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">#}
{#        <link href="{{ url_for('static', filename='style/nav.css') }}"rel="stylesheet">#}
{#        <link href="{{ url_for('static', filename='style/css/sidebar.css') }}"rel="stylesheet">#}
    </head>



<body>
  <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ url_for('auth.index') }}">Healing Pawl BMS</a>

        <label class="ele hidden-lg navbar-toggler" for="toggle-checkbox"><span class="navbar-toggler-icon"></span></label>
        <input class="invisible navbar-toggler-icon" style="position:fixed; top:0; left:0;" id="toggle-checkbox" type="checkbox">
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkupflask" >
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('main.upload') }}" ><p class="i18n" name="addpet">AddPet</p></a>
                <a class="nav-item nav-link active" href="#" style="allign:right"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('main.index') }}"><p class="i18n" name="mypets">MyPets</p></a>
                <a class="nav-item nav-link active" href="#" style="allign:right"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('reservation.list') }}" ><p class="i18n" name="reservation">Reservation</p></a>
                 <a class="nav-item nav-link active" href="#" style="allign:right"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}" ><p class="i18n" name="logout">LogOut</p></a>
                  <a class="nav-item nav-link active" href="#" style="allign:right"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('chat.index') }}" ><p class="i18n" name="chatroom">ChatBox</p></a>
                <img id="language" src="../static/images/China.png" alt="China" width="40" height="40" value="zh-CN">
{#                <label class="nav-item nav-link" name="test">111</label>#}

{#                <li><a href="{{ url_for('petCenter') }}" name="petcenter" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('profile') }}" name="profile" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('reservation') }}" name="reservation" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('chatRoom') }}" name="chatroom" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('logout') }}" name="logout" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('addPet') }}" name="treatpet" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('myPets') }}" name="mypet" class="i18n"></a></li>#}
            </div>
        </div>
{#        <label class="i18n" name="test"></label>#}
    </nav>



<!-- Main Container -->
{#<<<<<<< HEAD#}
{#<div class="container">#}
{#  <!-- Navigation -->#}
{#  <header> <a href="">#}
{#    <a style="text-decoration: none" href="{{ url_for("index") }}" class="logo">Healing Paws Veterinary Hospitia</a>#}
{#    </a>#}
{#      {% block nav %}#}
{#    <nav>#}
{#      <ul class="menu" style="background-color: black">#}
{#                <li><a href="{{ url_for('profile') }}" name="profile" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('list') }}" name="reservation" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('chatRoom') }}" name="chatroom" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('logout') }}" name="logout" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('addPet') }}" name="treatpet" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('myPets') }}" name="mypet" class="i18n"></a></li>#}
{#                    <li><img id="language" src="../static/images/China.png" alt="China" width="30" value="zh-CN"></li>#}
{##}
{#      </ul>#}
{#=======#}

{#  <!-- Navigation -->#}
{#  <header> <a href="">#}
{#    <a style="text-decoration: none" href="{{ url_for("index") }}" class="logo">Healing Paws Veterinary Hospitia</a>#}
{#    </a>#}
{#      {% block nav %}#}
{#    <nav>#}
{#      <ul class="menu" style="background-color: black">#}
{#                <li><a href="{{ url_for('profile') }}" name="profile" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('list') }}" name="reservation" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('chatRoom') }}" name="chatroom" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('logout') }}" name="logout" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('addPet') }}" name="treatpet" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('myPets') }}" name="mypet" class="i18n"></a></li>#}
{#      </ul>#}
{#    <img id="language" src="../static/images/China.png" alt="China" width="40" value="zh-CN">#}
{#>>>>>>> 38cc31ae408382c87ff5a1163e2e9ad313c29c2d#}
{#        <label class="i18n" name="test"></label>#}
{#    </nav>#}
{#      {% endblock %}#}
{#  </header>#}


<div class="container-fluid mt-4 main">
{% block content %}

{% endblock %}



</div>

    <!-- footer -->
    <footer class="bg-dark mt-5 py-3 text-white text-center">Healing Pawl 宠物医院</footer>


{% block script %}
    <script src="{{ url_for('static', filename='script/fun_script/sidebarscript.js') }}"></script>
{% endblock %}


</body>
</html>
