{% extends "loggedin_base.html" %}
{% from 'macro.html' import pet_card %}


{% block other_css %}
{#         <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">#}

{% endblock %}
{% block script %}
    {#     <script src="{{ url_for('static', filename='script/fun_script/sidebarscript.js') }}"></script>#}

{% endblock %}


{% block content %}
<div class="container-fluid">
           <form action="" method ="post" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(size=32) }}

                        {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.bio.label }}<br>
                        {{ form.bio(size=10) }}

                        {% for error in form.bio.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.location.label }}<br>
                        {{ form.location(size=32) }}

                        {% for error in form.location.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>

                    </p>
                    <p>
		            {{form.submit()}}
            </form>

</div>
{% endblock %}