{% extends "loggedin_base.html" %}
{% from 'macro.html' import pet_card %}

{% block other_css %}
{#         <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">#}
{% endblock %}
{% block script %}
    {#     <script src="{{ url_for('static', filename='script/fun_script/sidebarscript.js') }}"></script>#}
    <script type="text/javascript">
        $('#confirm-delete').on('show.bs.modal',function (e) {
            $('.delete-form').attr('action',$(e.relatedTarget).data('href'));
        });
    </script>
{% endblock %}


{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="row">

						<div class="col-md-4">
							<img alt="Bootstrap Image Preview" src="{{ url_for('main.get_avatar',filename=user.avater_s) }}" />
                        </div>

						<div class="col-md-8">
							<h3>
								{{ user.username }}
							</h3>
							<address>
{#                                <strong >Name: </strong>{{ user.name }}<br />#}
                                <strong class="i18n" name="emial:">Email:</strong> {{ user.email }}<br />
                                <strong class="i18n" name="location:">Location:</strong>{{ user.location }}<br />
							</address>
                            <a class="btn-light" href="{{ url_for('main.edit_form') }}">edit</a>
						</div>
					</div>


					<div class="row">
                        <div class="col-12">

                            <div class="tabbable" id="tabs-665551">
						<ul class="nav nav-tabs">
							<li class="nav-item">
                                <a class="nav-link active" href="#tab1" data-toggle="tab"><p  class="i18n" name="mypet">My Pet</p></a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="panel-961406">
								<p>
                                    <div class="row">
                                        {% if dicts %}
                                            {% for dict in dicts %}
						                        {{ pet_card(dict,dicts[dict])}}
                                            {% endfor %}
                                        {% else %}
                                            <div class="tip text-center">
                                                <h3> No Pets Reserved Yet</h3>
                                                <a class="btn btn-link" href="{{ url_for('main.upload') }}">Reserve Info for your pet</a>
                                            </div>
                                        {% endif %}
                                    </div>
								</p>
							</div>
						</div>
					</div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{#    Modal #}
<!-- basic modal -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal content">
                <div class="modal-header">
                    <!--header-->
                </div>
                <div class="modal-footer">
                    <form class="delete-form" action="" method="post">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-danger btn-confirm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        </div>
    </div>



{% endblock %}