.card-grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  max-width: 1000px;
  margin: auto;
}

@media (min-width: 500px) {
  .card-grid {
/*     grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .card-grid {
/*     grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-header {
  background-color: #eee;
  padding: 1rem;
}

.card-header h1 {
  margin: 0;
}

.card-content {
  padding: .5rem 1rem;
}

.card-footer {
  background-color: #aaa
}

.card-footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* You can also use CSS Grid for the footer nav */

 .card-footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr auto auto
}

.card-footer-item {
  color: white;
  padding: 1rem;
}