#redirect_block{
    display: block;
    background: rgba(0,0,0,.1);
    border-radius: 12px;
    /*width: 1200px;*/
    padding: 20px;
    margin: 0 auto 50px auto;
}

#redirect_block a{
    cursor: pointer;
    color: #2C9AB7;
}

.container{
    padding-left: 0;
    padding-right: 0;
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    max-width: 2000px;
    width: 100%;
    /*color: #a71d2a;*/
}