{% if session.get("USERNAME") %}
    {% extends "loggedin_base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% block other_css %}
{% endblock %}




{% block content %}
        <link href="{{ url_for('static', filename='style/css/redirect_page.css') }}" rel="stylesheet">
    <div class="col-md-12">

    <div id="redirect_block">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <h3>{{ messages[-1] }}</h3>
            {% endif %}
        {% endwith %}
        <p style="margin-top: 30px" id="redirect_message">After <span id="redirect_time">3</span> seconds, the page automatically redirects</p>
        {% if page %}
            <a onclick="location='{{ url_for(page) }}'">Immediately jump</a>
        {% else %}
            <a onclick="location='{{ url_for('auth.index') }}'">Immediately jump</a>
        {% endif %}
    </div>
    </div>
    <script type="text/javascript">
        spanobj = document.getElementById('redirect_time');
        a = 3;
        sobj = setInterval(function () {
            num = --a;
            if (num <= 0) {
                clearInterval(sobj);
                {% if page %}
                    location = '{{ url_for(page) }}';
                {% else %}
                    location = '{{ url_for('index') }}';
                {% endif %}
            }
            spanobj.innerHTML = num;
        }, 1000);
    </script>
{% endblock %}