{% extends "base.html" %}
{% block content %}
        <link href="{{ url_for('static', filename='style/css/login.css') }}" rel="stylesheet">
    <div class="col-md-12">
        <div class="sign_block">
            <div>
                <h1 class="i18n" name="resetTitle">Reset password</h1>
            </div>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div>
                    <p class="sign_text">
                        <label class="i18n" name="password">Password</label>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div>
                    <p class="sign_text">
                        <label class="i18n" name="password2">Repeat Password</label>
                        {{ form.password2(size=32) }}
                        {% for error in form.password2.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div>
                    <p class="sign_submit">
                        <button class="i18n" id="submit" name="login" type="submit">Login</button>
                    </p>

                </div>
            </form>
        </div>
    </div>
{% endblock %}