{% extends 'base.html' %}

{% block content %}
     <link href="{{ url_for('static', filename='style/css/reset_request.css') }}" rel="stylesheet">
    <div class="col-md-12">
    <div id="reset_request_block">
    <form action="" method="post">
        <p id="reset_request_title" class="i18n" name="resetRequestTitle">Reset your password by email</p>

        {{ form.hidden_tag() }}
        <p>
            {{ form.email(size=64,id="reset_request_text") }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <button class="i18n" id="submit" name="resetRequestSubmit" type="submit" >Register</button>
    </form>
    </div></div>
{% endblock %}