{% extends "base.html" %}
{% block other_css %}
{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
        <link href="{{ url_for('static', filename='style/css/signup.css') }}" rel="stylesheet">

    <div class="col-md-12">
    <script src="{{ url_for('static', filename='script/checkjs.js') }}"></script>
    <div class="sign_block">
        <div>
            <h3 class="i18n" name="signup_wel">Welcome New User</h3>
        </div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div id="username">
                <p class="sign_text">
{#                    {{ form.username.label }}#}
                    <label class="i18n" name="username">Username</label>
                    <br><br>
                    {{ form.username(size=32) }}<span id="hintuser"></span><span id="checkuser"></span>
                    {% for error in form.username.errors %}
                        <span style="color: red;" class="failure">{{ error }}</span>
                    {% endfor %}
                </p>
            </div>
            <div id="useremail">
                <p class="sign_text">
{#                    {{ form.email.label }}#}
                    <label class="i18n" name="email">Email</label>
                    <br><br>
                    {{ form.email(size=32) }}<span id="checkemail"></span>
                    {% for error in form.email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            </div>
            <div id="userpassword">
                <p class="sign_text">
{#                    {{ form.password.label }}#}
                    <label class="i18n" name="password">Password</label>

                    <br><br>
                    {{ form.password(size=32) }}<span id="hintpassword"></span><span id="checkpassword"></span>
                    {% for error in form.password.errors %}
                        <span style="color: red;" class="failure">{{ error }}</span>
                    {% endfor %}

                </p>
            </div>

            <div id="userpassword2">
                <p class="sign_text">
{#                    {{ form.password2.label }}#}
                    <label class="i18n" name="password2">Repeat Password</label>

                    <br><br>
                    {{ form.password2(size=32) }}<span id="hintpassword2"></span><span id="checkpassword2"></span>

                    {% for error in form.password2.errors %}
                        <span style="color: red; " class="failure" >{{ error }}</span>
                    {% endfor %}

                </p>
            </div>

            <div class="check_box">
                <div class="sign_remember"><label class="i18n" name="rule">I accept the site rules</label>{{ form.accept_rules() }}</div>
                {% for error in form.accept_rules.errors %}
                    <span class="failure" style="margin-left: 30px;color: red; ">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
{#                <p class="sign_submit">{{ form.submit() }}</p>#}
                <p class="sign_submit"><button class="i18n" id="submit" name="register" type="submit" >Register</button></p>
            </div>
        </form>
    </div>
      </div>

{% endblock %}
