#nav-bar{
  /*background: #282828;*/
  background: #f3f3f3;
  width: 110%;
  height: 10%;
    font-size: 24px;
    color:gray;
    padding:1% 1% 0px 0px;
    position: fixed;
    top:-10px;
    right: -20px;
    elevation: higher;
    border: black;
    z-index: 100;
    padding: 10%;
}

#nav-bar a{
color: gray;
position: fixed;
    top:-10px;
    right: -20px;
 }
#nav-bar a:link{
    text-decoration: none;
    color: gray;
}
#nav-bar a:hover{
    color: white;

}





.navIcon{
    height: 10%;
    width: auto;
  font-size: 125%;
  border: white;
  color: Black;
    position: relative;
    top: 15%;
    left: 10%;
}

.menuicon li{
    float: right;
    width: auto;
    color: black;
    padding: 0 20px 0 20px;
}


.menuicon{
    height: 5%;
    width: auto;
    color: black;
  position: relative;
    left: 50%;
  top: 20%;
}

#navIcon a:hover{
  color: black;
}



