{% extends "loggedin_base.html" %}

{% block script %}
    <script src="https://kit.fontawesome.com/235111a63f.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>#}
    {#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"#}
    {#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
    {#            crossorigin="anonymous"></script>#}
    {#       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
    {#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
    {#        crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="{{ url_for("static",filename="script/bootstrap.js") }}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    {#<script src="https://cdn.bootcss.com/TableDnD/1.0.3/jquery.tablednd.js"></script>#}
    <script src="{{ url_for('static', filename='script/jquery.tablednd.js') }}"></script>
    {#    <script src="js/all.js"></script>#}


{% endblock %}

{% block other_css %}
    <link href="{{ url_for('static', filename='/style/css/backdesk.css') }}" rel="stylesheet">

{% endblock %}


{% block title %}
    Show Reservation
{% endblock %}
{% block content %}

    <!-- 主要內容 -->
    <div class="container-fluid mt-4 main">

        <!-- 四個等高的區塊 -->
        <div class="row mb-4">
            <!-- 今日營收 -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i
                                class="fas fa-money-check-alt fa-3x text-secondary d-none d-sm-block d-none d-sm-block"></i>
                        </div>
                        <!-- 文字 -->
                        <div class="text-center w-100">
                            <div class="h5"><p class="i18n" name="daily_order">Daily Order</p></div>
                            <div class="h3 display-4">{{head_list[0]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 收治数 -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i class="fas fa-users fa-3x text-secondary d-none d-sm-block"></i></div>
                        <!-- 文字 -->
                        <div class="text-center w-100">
                            <div class="h5"><p class="i18n" name="patient_animals">Patient Animals</p></div>
                            <div class="h3 display-4">{{head_list[1]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 訂單數 -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i class="far fa-id-card fa-3x text-secondary d-none d-sm-block"></i></div>
                        <!-- 文字 -->
                        <div class="text-center w-100">
                            <div class="h5"><p class="i18n" name="order_number">Order Number</p></div>
                            <div class="h3 display-4">{{head_list[2]}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Number Of Patient -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i class="fas fa-cubes fa-3x text-secondary d-none d-sm-block"></i></div>
                        <!-- 待治疗 -->
                        <div class="text-center w-100">
                            <div class="h5"><p class="i18n" name="pending">Pending</p></div>
                            <div class="h3 display-4">{{head_list[3]}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 控制列 -->
        <div class="d-block d-md-flex mb-4">
            <!-- 左側搜尋欄位 -->
{#            <div class="input-group search_box" style="margin-bottom: 10px;">#}
{#                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..."#}
{#                       aria-describedby="button-addon2" data-toggle="tooltip" data-placement="top" data-html="true"#}
{#                       title="<em>Enter to have a qucik search</em>">#}
{#                <div class="input-group-append">#}
{#                    <button class="btn btn-secondary" type="button" id="button-addon2">Go!</button>#}
{#                </div>#}
{#            </div>#}

            <!-- 右側按鈕 -->
            <button class="btn btn-primary d-flex align-items-center ml-auto" data-toggle="modal"
                    data-target="#editModal"
                    data-title="Qucik Order" data-item="Input Pet Name" data-quantity="1" data-order="fast"
                    data-backdrop="static" id="quick_order">
                <i class="fas fa-shopping-cart mr-1"></i>
                <span class="i18n" name="qucik_order">Qucik Order</span>
            </button>
        </div>

        <!-- 互動性更強的表格 -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="40">#</th>
                    <th class="i18n" name="petname">PetName</th>
                    <th class="i18n" name="name">Name</th>
                    <th class="i18n" name="type">type</th>
                    <th class="i18n" name="state">state</th>
                    <th class="i18n" name="place">place</th>
                    <th class="i18n" name="create_time">create time</th>
                    <th class="i18n" name="surgery-date">surgery date</th>
                    {#                        <th class="text-right">Payment</th>#}
                    <th width="150" class="text-center">Operation</th>
                </tr>
                </thead>
                <tbody class="orderList">
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.petname }}</td>
                        <td>{{ reservation.username }}</td>
                        <td>{{ reservation.type }}</td>
                        <td>{{ reservation.state }}</td>
                        <td>{{ reservation.place }}</td>
                        <td>{{ reservation.create_time }}</td>
                        {% if reservation.surgery_date %}
                        <td>{{ reservation.surgery_date }}</td>
                        {% else %}
                            <td>waiting</td>
                        {% endif %}
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                        data-target="#editModal" data-title="Edit Pet " data-user="Mark"
                                        data-email="Mark@mail.com"
                                        data-item="Pet1" data-quantity="1" data-backdrop="static" id="state_edit"><a  class="i18n" name="edit">Edit</a>
                                </button>
                                {% if reservation.state=='ready for release' %}
                                <button type="button" class="btn btn-outline-secondary finish_reservation" value="{{ reservation.id }}"><a class="i18n" name="finish" style="color: blue">Finish</a>
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-outline-secondary"  value="{{ reservation.id }}"><a class="i18n" name="finish" style="color: gray">Finish</a>
                                </button>
                                {% endif %}
                                <button type="button" class="btn btn-outline-secondary"><a
                                        href="{{ url_for('reservation.list',r = reservation.id) }} " class="i18n" name="delete" style="color: red">Delete</a>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot></tfoot>
            </table>
        </div>


        <!-- removeModal -->
        <!-- Modal -->
{#        <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#             aria-hidden="true">#}
{#            <div class="modal-dialog" role="document">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header bg-danger text-white">#}
{#                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                            <span aria-hidden="true">&times;</span>#}
{#                        </button>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        Are you sure to delete?#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>#}
{#                        <button type="button" class="btn btn-outline-primary">Yes</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}


        <!-- 分頁元件 -->
{#        <nav aria-label="...">#}
{#            <ul class="pagination justify-content-center">#}
{#                <li class="page-item disabled">#}
{#                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>#}
{#                </li>#}
{#                <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                <li class="page-item" aria-current="page">#}
{#                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>#}
{#                </li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item">#}
{#                    <a class="page-link" href="#">Next</a>#}
{#                </li>#}
{#            </ul>#}
{#        </nav>#}


    </div>

    <!-- footer -->
{#    <footer class="bg-dark mt-5 py-3 text-white text-center">Healing Pawl 宠物医院</footer>#}

    <!-- Modal 元件 -->
    <!-- editModal -->
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#                    <form id="add_reservation" action="">#}
                    {#                        <div class="form-group d-flex flex-column">#}
                    {#                            <label for="userName">Username 用户名</label>#}
                    {#                            <input type="text" id="userName" class="form-control" placeholder="Input Username">#}
                    {#                        </div>#}
                    {#                        <div class="form-group d-flex flex-column">#}
                    {#                            <label for="userEmail">Email 电子邮箱</label>#}
                    {#                            <input type="text" id="userEmail" class="form-control" placeholder="Input Email">#}
                    {#                        </div>#}
                    <div class="row">
                        <div class="col">
                            <div class="form-group d-flex flex-column">
                                <label for="petName">PetsName 宠物</label>
                                <select id="petName">
                                {% if pets %}
                                    {% for pet in pets %}
                                        <option value="{{ pet.id }}">{{ pet.petname }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="-1" class="i18n">please add your pet first</option>
                                {% endif %}
                                </select>

                                {#                                    <input type="text" id="petName" class="form-control" placeholder="請輸入品項">#}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group d-flex flex-column">
                                <label for="treatType">Treat Type 治疗类型</label>
                                <select id="treatType">
                                    <option value="emergency">Emergency</option>
                                    <option value="standard">Standard</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group d-flex flex-column">
                                <label for="treatPlace">Treat Place 治疗地点</label>
                                <select id="treatPlace">
                                    <option value="Beijing">Beijing</option>
                                    <option value="Shanghai">Shanghai</option>
                                    <option value="Chengdu">Chengdu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><a class="i18n" name="close">Close</a></button>
                        <button type="button" class="btn btn-primary" id="add_submit"><a class="i18n" name="save">Save changes</a></button>
                    </div>
                    {#                    </form>#}
                </div>

            </div>
        </div>
    </div>














    {#    <!-- Optional JavaScript -->#}
    {#    <!-- jQuery first, then Popper.js, then Bootstrap JS -->#}
    {#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
    {#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
    {#        crossorigin="anonymous"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
    {#        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
    {#        crossorigin="anonymous"></script>#}
    {#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"#}
    {#        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
    {#        crossorigin="anonymous"></script>#}
    {##}
    {##}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>#}
    {##}
    {#    <script src="js/all.js"></script>#}


    <script>
        $(document).ready(function () {
            var id = -1;
            {#btn-primary#}
            $(".btn.btn-outline-secondary").click(function () {
                id = $(this).parents('tr').children(':first').html();
                {#alert(id);#}
            });
            $("#add_submit").click(function () {
                if (id < 0) {
                    var res = [];
                    if($("#petName").val()<0){
                        setTimeout("$('#petName').css('color','#a71d2a')",100);
                        setTimeout("$('#petName').css('color','#000000')",300);
                        setTimeout("$('#petName').css('color','#a71d2a')",500);
                        setTimeout("$('#petName').css('color','#000000')",700);
                    }
                    else {
                        res.push($("#petName").val());
                        res.push($("#treatType").val());
                        res.push($("#treatPlace").val());
                        $.post('/reservation/list', {'res': res}).done(function (data) {
                            window.location.href = '/reservation/list';
                            {#alert(res);#}
                        });
                    }
                }else {
                    var edit_res = [];
                    if($("#petName").val()<0){
                        setTimeout("$('#petName').css('color','#a71d2a')",100);
                        setTimeout("$('#petName').css('color','#000000')",300);
                        setTimeout("$('#petName').css('color','#a71d2a')",500);
                        setTimeout("$('#petName').css('color','#000000')",700);
                    }else {


                    edit_res.push(id);
                    edit_res.push($("#petName").val());
                    edit_res.push($("#treatType").val());
                    edit_res.push($("#treatPlace").val());
                    $.post('/reservation/list', {'edit_res': edit_res}).done(function (data) {
                        window.location.href = '/reservation/list';
                    });
                }}
            });
            $("#quick_order").click(function () {
                id=-1;
                {#alert(id);#}
            });
            $(".finish_reservation").click(function () {
                {#alert($(this).val());#}
                 $.post('/reservation/list', {'finish_id': $(this).val()}).done(function (data) {
                        window.location.href = '/reservation/list';
                    });
            })
        });

    </script>

    <script src="{{ url_for('static', filename='script/backdesk.js') }}"></script>

{% endblock %}