{% extends "loggedin_base.html" %}

{% block script %}
    <script src="https://kit.fontawesome.com/235111a63f.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>#}
{#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"#}
{#            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#            crossorigin="anonymous"></script>#}
{#       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
{#<script src="https://cdn.bootcss.com/TableDnD/1.0.3/jquery.tablednd.js"></script>#}
    <script src="{{ url_for('static', filename='script/jquery.tablednd.js') }}"></script>    {#    <script src="js/all.js"></script>#}


{% endblock %}

{% block other_css %}
    <link href="{{ url_for('static', filename='/style/css/backdesk.css') }}" rel="stylesheet">

{% endblock %}


{% block title %}
    Show Reservation
{% endblock %}
{% block content %}

    <div class="table-responsive">
        <table class="table table-hover" id="show_table">
            <thead>
            <tr>
                <th width="40">#</th>
                    <th class="i18n" name="petname">PetName</th>
                    <th class="i18n" name="name">Name</th>
                    <th class="i18n" name="type">type</th>
                    <th class="i18n" name="state">state</th>
                    <th class="i18n" name="place">place</th>
                    <th class="i18n" name="create_time">create time</th>
                    <th class="i18n" name="surgery-date">surgery date</th>   {#                        <th class="text-right">Payment</th>#}
                <th width="120" class="text-center">Operation</th>
            </tr>
            </thead>
            <tbody class="orderList">
            {% if list and list.__len__!=0%}
                {% for l in list %}
                {% for reservation in reservations %}
                    {% if l == reservation.id%}
                <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.petname }}</td>
                <td>{{ reservation.username }}</td>
                <td>{{ reservation.type }}</td>
                <td>{{ reservation.state }}</td>
                <td>{{ reservation.place }}</td>
                <td>{{ reservation.create_time }}</td>
                {% if reservation.surgery_date %}
                <td>{{ reservation.surgery_date }}</td>
                {% else %}
                    <td>waiting</td>
                {% endif %}
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                data-target="#editModal" data-title="Edit Pet " data-user="Mark"
                                data-email="Mark@mail.com"
                                        data-item="Pet1" data-quantity="1" data-backdrop="static" id="state_edit"><a  class="i18n" name="edit">Edit</a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" ><a href="{{ url_for('reservation.show',r = reservation.id) }}" class="i18n" name="delete" style="color: red">Delete</a></button>
                    </div>
                </td>
            </tr>
                    {% endif %}
                                {% endfor %}

            {% endfor %}
            {% else %}
                {% for reservation in reservations %}
                <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.petname }}</td>
                <td>{{ reservation.username }}</td>
                <td>{{ reservation.type }}</td>
                <td>{{ reservation.state }}</td>
                <td>{{ reservation.place }}</td>
                <td>{{ reservation.create_time }}</td>
                {% if reservation.surgery_date %}
                <td>{{ reservation.surgery_date }}</td>
                {% else %}
                    <td>waiting</td>
                {% endif %}
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                data-target="#editModal" data-title="Edit Pet " data-user="Mark"
                                data-email="Mark@mail.com"
                                        data-item="Pet1" data-quantity="1" data-backdrop="static" id="state_edit"><a  class="i18n" name="edit">Edit</a>
                        </button>
                        <button type="button" class="btn btn-outline-secondary" ><a href="{{ url_for('reservation.show',r = reservation.id) }}" class="i18n" name="delete" style="color: red">Delete</a></button>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}

            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <!-- removeModal -->
    <!-- Modal -->
{#    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"#}
{#         aria-hidden="true">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header bg-danger text-white">#}
{#                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    Are you sure to delete?#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>#}
{#                    <button type="button" class="btn btn-outline-primary">Yes</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- Modal 元件 -->
    <!-- editModal -->
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group d-flex flex-column">
                        <label for="state_change">Change state 更改状态</label>
                        <select id="state_change">
                            <option value="surgery confirmed">surgery confirmed</option>
                            <option value="completed">completed</option>
                            <option value="ready for release">ready for release</option>
                        </select>
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label for="surgery_time">Change state 更改状态</label>
                        <input type="date" id="surgery_time"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><a class="i18n" name="close">Close</a></button>
                        <button type="button" class="btn btn-primary" id="save_state"><a class="i18n" name="save">Save changes</a></button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function() {
        var id;
              {#$(".myDragClass").css({"background-color": "red"});#}
      //初始化表
      $("#show_table").tableDnD({
          onDrop: function () {
              if(confirm("save change?")){
                  {#alert("111")#}
                  var id_list=[];
                  var i=0;
                  $("#show_table").find('tr').each(function () {
                      {#alert("222")#}
                      {#alert($(this).children(':first').html())#}
                      if(i===0){
                          i=i+1;
                      }else {
                          id_list.push(parseInt($(this).children(':first').html()));
                      }
                  });
                  {#alert(id_list);#}
                  $.post('/reservation/show',{'id_list': id_list}).done(function(data){
                      alert("move success")
                  });
              }
          }
      });
      $(".btn.btn-outline-secondary").click(function () {
          id = $(this).parents('tr').children(':first').html();
          {#alert($('#surgery_time').val());#}
       });
      $('#save_state').click(function () {
          var state=$('#state_change').val();
          var state_list=[id,state];
          if($('#surgery_time').val()!=null){
                  state_list.push($('#surgery_time').val());
                }
          {#alert(state_list);#}
          $.post('/reservation/show',{'state_list': state_list}).done(function(data){
                        window.location.href = '/reservation/show';
                  });
      })
    });
</script>
{% endblock %}